* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  font-family: Lato, sans-serif !important;
}

a, a:link {
  text-decoration: none;
}

nav {
  position: fixed;
  font-size: 1.15em;
  font-weight: 600;
  width: 100%;
  min-height: 40px;
  border-bottom: 1px solid #a8a8a8;
  padding: 10px 0px;
  background: #fff;
  z-index: 1;
}
nav li {
  list-style: none;
  font-family: monospace !important;
  display: inline;
  margin-bottom: 0px;
}
nav #link-social {
  float: right;
}
nav #link-social img {
  width: 18px;
}

#main {
  position: relative;
  z-index: 0;
  padding: 80px 0px 20px 0px;
  border-bottom: 1px solid #a8a8a8;
}

#main-projects {
  padding: 50px 0px;
  background: #fff;
}

#intro {
  /*font-family: Lato, sans-serif;*/
}
#intro h1 {
  /*font-family: Lato, sans-serif;*/
  font-size: 6em;
  font-weight: 700;
  line-height: 0.9em;
  color: #21deaf;
}
#intro span {
  font-size: 2em;
}
#intro .intro-text {
  font-size: 1.75em;
  font-weight: 100;
  line-height: 1.25em;
}

.project-cover {
  width: 100%;
  height: 180px;
  background-size: cover !important;
  background-position: 50% 50%;
  margin: 20px 0px 10px 0px;
  border-radius: 5px;
}

.project-title {
  /*font-family: 'Lato', sans-serif;*/
  font-size: 1.75em;
  border-left: 2px solid #21deaf;
  padding-left: 10px;
  font-weight: 400;
  color: #5b4eb1;
}

footer {
  margin: 30px 0px 15px 0px;
}

footer .container pre small {
  font-family: monospace !important;
}

.project {
  cursor: pointer;
  height: 250px;
}

.project-collaborators {
  margin-left: 5px;
  font-size: 1.2em;
}

#limbo-bg {
  position: fixed;
  background: #000;
  z-index: 99;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.project-detail {
  background: #fff;
  position: fixed;
  z-index: 999;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 0px;
  padding: 15px;
}

.project-detail-close {
  float: right;
  font-size: 3em;
  margin-top: 5px;
  margin-right: 0px;
  cursor: pointer;
}

.project-detail-body {
  width: 100%;
  height: 100%;
}

.project-detail-title {
  color: #482c9e;
  position: relative;
  top: 0px;
  margin: 0px 0px 0px 0px;
  font-size: 3em;
  line-height: 1.05em;
}

.project-detail-misc-container {
  position: relative;
  top: 20px;
  font-size: 1.12em;
}

.project-detail-paragraph {
  margin-top: 10px;
  font-size: 1.25em;
  line-height: 1.3em;
}

.project-detail-image {
  margin: 15px 0px;
}

svg {
  position: fixed;
  z-index: 0;
  top:-0px; left:0;
}

g {
  opacity: 0.95;
}

path {
  fill: none;
  /* stroke: #000; */
  /* stroke-width: 3px; */ 
}