<!DOCTYPE html>
<html>
<head>
	<title>Herman Miller</title>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="css/skeleton.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div class="container" id="top-fixed">
		<div class="sixteen columns">
			<h2>Herman Miller</h2>
		</div>
		<div class="row" id="data-filter">
			<div class="four columns">
				<p id="field_freq_updated" class="no-margin bold">Frequency Updated</p>
				<select id="sel_freq_update">
					<option>Any</option>
					<option>Daily</option>
					<option>Weekly</option>
					<option>Monthly</option>
					<option>Once</option>
					<option>Once with project</option>
					<option>Static</option>
					<option>Constantly</option>
					<option>With Engagement</option>
				</select>
			</div>
			<div class="four columns">
				<p id="field_used_by" class="no-margin bold">Used By</p>
				<select id="sel_used_by">
					<option>Any</option>
					<option>Marketing</option>
					<option>Development</option>
					<option>Performance Environments</option>
					<option>Sales</option>
					<option>Design/Development</option>
					<option>IT</option>
					<option>IT - Collaboration</option>
					<option>Digital Marketing</option>
					<option>Product Management</option>
					<option>Research</option>
					<option>Project Management</option>
				</select>
			</div>
			<div class="four columns">
				<p id="field_linked_to" class="no-margin bold">Linked to</p>
				<select id="sel_linked_to">
					<option>Any</option>
					<option>Time</option>
					<option>Product</option>
					<option>Customer</option>
					<option>Dealer</option>
					<option>Employee</option>
					<option>Region</option>
					<option>Segment</option>
					<option>Product Family</option>
					<option>Category</option>
				</select>
			</div>
			<div class="four columns">
				<button id="btn_submit">GO</button>
			</div>
			<hr class="no-margin">
		</div>
	</div>

	<div class="container" id="result-scrolling">
		<div id="result_container" class="sixteen columns center">
			<h4>No result found.</h4>
		</div>
	</div>

	<!-- Lo-dash template -->
	<script type="text/template" id="tpl-result">
		<% if(array.length === 0) { %>
			<h4>No result found.</h4>
		<% } else { %>
		<table class="tb_result">
			<tbody>
				<tr>
					<th>Number</th>
					<th>Name</th>
					<th>Unit</th>
					<th>Location (System)</th>
					<th>Frequency Updated</th>
					<th>Frequency Used</th>
				</tr>
				<% _.each(array, function(item, i) { %>
					<tr>
						<td><%= i+1 %></td>
						<td><%= item['Name'] %></td>
						<td><%= item['Unit'] %></td>
						<td><%= item['Location (System)'] %></td>
						<td><%= item['Frequency Updated'] %></td>
						<td><%= item['Frequency Used'] %></td>
					</tr>
				<% }); %>
			</tbody>
		</table>
		<% } %>
	</script>

	<!-- Load scripts -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/d3.min.js"></script>
	<script type="text/javascript" src="js/queue.v1.min.js"></script>
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>