<!DOCTYPE html>
<html>
<head>
	<title>Herman Miller Data Universe</title>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="css/skeleton.min.css">
	<link rel="stylesheet" href="css/lightbox.css">
	<link rel="stylesheet" href="css/d3.tip.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div id="top-header">
		<div id="header" class="row">
			<div class="container">
				<div class="header-left">
					<h4 class="title"><span class="strong hmcolor">Herman Miller</span><br>Data Universe</h4>
					<li class="menu"><a href="#/inventory">Inventory</a></li>
					<li class="menu"><a href="#/vis_all">Network Graph</a></li>
					<li class="menu"><a href="#/data_mapping">Data Mapping</a></li>
					<li class="menu"><a href="#/add_dataset">Add Dataset</a></li>
				</div>
				<div class="header-right">
					<img height="50" src="img/hm_ss.jpg" alt="logo">
				</div>
			</div>
		</div>
	</div>

	<div id="view">
	</div>
	<!-- Lo-dash template -->
	<script type="text/template" id="tpl-filter">
		<div class="container">
			<div class="row" id="data-filter" style="margin-bottom: 0px">
				<div class="four columns">
					<span id="field_used_by" class="no-margin bold">Used By</span><span>:</span>
					<select id="sel_used_by">
						<option>Any</option>
						<option>Design/Development</option>
						<option>IT</option>
						<option>Marketing</option>
						<option>Performance Environments</option>
						<option>Product Management</option>
						<option>Research</option>
						<option>Sales</option>		
					</select>
				</div>
				<div class="four columns">
					<span id="field_linked_to" class="no-margin bold">Linked to</span><span>:</span>
					<select id="sel_linked_to">
						<option>Any</option>
						<!-- <option>Time</option> -->
						<option>Product</option>
						<option>Product Family</option>
						<option>Product Category</option>
						<option>Customer</option>
						<option>Customer Segment</option>
						<option>Dealer</option>
						<option>Employee</option>
						<option>Region</option>
					</select>
				</div>
				<div class="four columns">
					<span id="field_freq_updated" class="no-margin bold">Frequency Updated</span><span>:</span>
					<select id="sel_freq_updated">
						<option>Any</option>
						<option>Real Time</option>
						<option>Daily</option>
						<option>Weekly</option>
						<option>Monthly</option>
						<option>Once</option>
					</select>
				</div>
				<div class="four columns">
					<span id="field_relevant_to" class="no-margin bold">Relevant to</span><span>:</span>
					<select id="sel_relevant_to">
						<option>Any</option>
						<option>People</option>
						<option>Product</option>
						<option>Place</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-bottom: 0px;">
				<div class="fourteen columns">
					<p id="number_of_resources"><span>Data Resources found.</span></p>
				</div>
				<div class="two columns submitBtn">
					<button id="btn_submit">Look up</button>
				</div>
			</div>
		</div>

		<div id="result_full">
			<div class="container" id="result-scrolling">
				<div id="result_container" class="sixteen columns center">
					<h4>Sorry, no result found.</h4>
				</div>
			</div>
		</div>
	</script>

	<script type="text/template" id="tpl-result">
	<% if(array.length === 0) { %>
		<h4>Sorry, no result found.</h4>
		<% } else { %>
			<table class="tb_result">
			<thead>
			<tr>
			<th style="width: 1%;"></th>
			<th style="width: 40%;">Name</th>
			<!-- <th style="width: 12%;">Unit</th> -->
			<th style="width: 20%;">Location (System)</th>
			<th style="width: 15%;">Frequency Updated</th>
			<th style="width: 15%;">Frequency Used</th>
			<th style="width: 9%;">Image Key</th>
			</tr>
			</thead>
			<tbody>
			<% _.each(array, function(item, i) { %>
				<tr>
				<td><%= i+1 %></td>
				<td><%= item['Name'] %></td>
				<!-- <td><%= item['Unit'] %></td> -->
				<td><%= item['Location (System)'] %></td>
				<td><%= item['Frequency Updated'] %></td>
				<td><%= item['Frequency Used'] %></td>
				<% if(item['Image Key'] === 'Null' || item['Image Key'] === '') { %>
					<td>No Image</td>
					<% } else if(item['Image Key'] !== 'Null' && item['Image Key'] !== '') { %>
						<td><a data-title="" data-lightbox="<%= item['Image Key'] %>" href="img/img_key/HM_<%= item['Image Key'] %>.png">View</a></td>
						<% } %>
						</tr>
						<% }); %>
			</tbody>
			</table>
		<% } %>
	</script>

	<!-- D3 -->
	<script type="text/template" id="tpl-network">
		<div class="container">
			<div class="four columns networkOptions">
				<h6 class="graphOptionText"><strong>Graph Options</strong></h6>
				<label for="ppp">
					<input class="networkGraphOptionInput" type="checkbox" checked id="ppp" value="1">
					<span><span class="span-legend" style="background: #baff12">&nbsp;&nbsp;&nbsp;&nbsp;</span> Category</span>
				</label>
				<label for="linkage">
					<input class="networkGraphOptionInput" type="checkbox" checked id="linkage" value="3">
					<span><span class="span-legend" style="background: #feb612">&nbsp;&nbsp;&nbsp;&nbsp;</span> Link</span>
				</label>
				<label for="department">
					<input class="networkGraphOptionInput" type="checkbox" checked id="department" value="2">
					<span><span class="span-legend" style="background: #14a2fa">&nbsp;&nbsp;&nbsp;&nbsp;</span> Department</span>
				</label>
				<h6 class="graphOptionText"><strong>Graph Stats</strong></h6>
				<p class="graphStats"></p>
			</div>
		</div>
	</script>

	<!-- Add Dataset form page -->
	<script type="text/template" id="tpl-add-dataset">
		<div class="container add-dataset">
			<div class="row">
				<div class="twelve columns">
					<h2>Add a Dataset</h2>
				</div>
			</div>
			<form action="">
				<div class="row no-margin">
					<div class="eight columns">
						<label for="dataset-name">Dataset Name</label>
						<input class="full-width-almost" id="dataset-name" name="dataset-name" type="text"/>
					</div>
					<div class="four columns">
						<label for="dataset-location">Location (system)</label>
						<input id="dataset-location" name="dataset-location" type="text"/>
					</div>
				</div>

				<div class="row">
					<div class="twelve columns">
						<label for="dataset-description">Description</label>
						<!--<input id="dataset-description" type="text"/>-->
						<textarea class="full-width" name="dataset-description" id="dataset-description" cols="30" rows="4"></textarea>
					</div>
				</div>

				<div class="row no-margin">
					<div class="four columns">
						<label for="dataset-used-by">Used by</label>
						<!--<input id="dataset-used-by" type="text"/>-->
						<select id="dataset-used-by" name="dataset-used-by">
							<option>Any</option>
							<option>Design/Development</option>
							<option>IT</option>
							<option>Marketing</option>
							<option>Performance Environments</option>
							<option>Product Management</option>
							<option>Research</option>
							<option>Sales</option>
						</select>
					</div>
					<div class="four columns">
						<label for="dataset-linked-to">Linked to</label>
						<!--<input id="dataset-linked-to" type="text"/>-->
						<select id="dataset-linked-to" name="dataset-linked-to">
							<option>Any</option>
							<!-- <option>Time</option> -->
							<option>Product</option>
							<option>Product Family</option>
							<option>Product Category</option>
							<option>Customer</option>
							<option>Customer Segment</option>
							<option>Dealer</option>
							<option>Employee</option>
							<option>Region</option>
						</select>
					</div>
					<div class="four columns">
						<label for="dataset-frequency-updated">Frequency updated</label>
						<!--<input id="dataset-frequency-updated" type="text"/>-->
						<select id="dataset-frequency-updated" name="dataset-frequency-updated">
							<option>Any</option>
							<option>Real Time</option>
							<option>Daily</option>
							<option>Weekly</option>
							<option>Monthly</option>
							<option>Once</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="four columns">
						<label for="dataset-relevant-to">Relevant to</label>
						<!--<input id="dataset-relevant-to" type="text"/>-->
						<select id="dataset-relevant-to" name="dataset-relevant-to">
							<option>Any</option>
							<option>People</option>
							<option>Product</option>
							<option>Place</option>
						</select>
					</div>
					<div class="four columns">
						<label for="dataset-frequency-used">Frequency used</label>
						<input id="dataset-frequency-used" name="dataset-frequency-used" type="text"/>
					</div>
					<div class="four columns">
						<label for="dataset-image-key">Image key</label>
						<input id="dataset-image-key" name="dataset-image-key" type="text"/>
					</div>
				</div>

				<div class="row">
					<div class="four columns">
						<button type="submit" class="dataset-form-submit">Submit Dataset</button>
					</div>
				</div>
			</form>
		</div>

	</script>

	<!-- Load scripts -->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/lightbox.min.js"></script>
	<script type="text/javascript" src="js/d3.min.js"></script>
	<script type="text/javascript" src="js/d3.tip.js"></script>
	<script type="text/javascript" src="js/queue.v1.min.js"></script>
	<script type="text/javascript" src="js/lodash.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>