<div class="teams-dashboard-container no-border">
	<div class="container">
		<div class="container-fluid">
			<div class="row">
				<div class="navbar-header">
					<h6>TEAM DASHBOARD</h6>
				</div>
				<div class="navbar-right">
					<a ng-click="openPreferencesModal()" style="cursor: pointer;">
						<img class="settings-border" src="images/action-button/settings.png" height="42">
					</a>
				</div>
			</div>
			<div class="row center dropzone-container">
				<div id="dropzone-brand-manager-container">
					<h6 class="text-light">Brand Manager</h6>
					<div class="dropzone" data-drop="true" jqyoui-droppable="{onDrop: 'onDropBrandManager(event, ui)'}" style="background-image: url({{droppedBrandManager}})" data-model>
					</div>
				</div>
				<div id="dropzone-brand-builder-container">
					<h6 class="text-light">Brand Builder</h6>
					<div class="dropzone" data-drop="true" jqyoui-droppable="{onDrop: 'onDropBrandBuilder(event, ui)'}" style="background-image: url({{droppedBrandBuilder}})" data-model>
					</div>
				</div>
				<div id="dropzone-brand-marketer1-container">
					<h6 class="text-light">Marketer I</h6>
					<div class="dropzone" data-drop="true" jqyoui-droppable="{onDrop: 'onDropMarketer1(event, ui)'}" style="background-image: url({{droppedMarketer1}})" data-model>
					</div>
				</div>
				<div id="dropzone-brand-marketer2-container">
					<h6 class="text-light">Marketer II</h6>
					<div class="dropzone" data-drop="true" jqyoui-droppable="{onDrop: 'onDropMarketer2(event, ui)'}" style="background-image: url({{droppedMarketer2}})" data-model>
					</div>
				</div>
				<div id="dropzone-brand-marketer3-container">
					<h6 class="text-light">Marketer III</h6>
					<div class="dropzone" data-drop="true" jqyoui-droppable="{onDrop: 'onDropMarketer3(event, ui)'}" style="background-image: url({{droppedMarketer3}})" data-model>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="navbar-header">
					<h6>TEAM METRICS</h6>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 center">
					<div class="label-container">
						Brand Experience
					</div>
					<div class="progress-container">
						<div class="progress-bar" role="progressbar" style="width: {{brandExperienceValue}}%;">
						</div>
						<div class="optimal-bar" style="left: 78%"></div>
					</div>
				</div>
				<div class="col-xs-2 center">
					<div class="label-container">
						Innovation Expertise
					</div>
					<div class="progress-container">
						<div class="progress-bar" role="progressbar" style="width: {{innovationExterpiseValue}}%;">
						</div>
						<div class="optimal-bar" style="left: 58%"></div>
					</div>
				</div>
				<div class="col-xs-2 center">
					<div class="label-container">
						Regional Expertise
					</div>
					<div class="progress-container">
						<div class="progress-bar" role="progressbar" style="width: {{regionalExpertiseValue}}%;">
						</div>
						<div class="optimal-bar" style="left: 80%"></div>
					</div>
				</div>
				<div class="col-xs-2 center">
					<div class="label-container">
						Collaboration
					</div>
					<div class="progress-container">
						<div class="progress-bar" role="progressbar" style="width: {{collaborationValue}}%;">
						</div>
						<div class="optimal-bar" style="left: 68%"></div>
					</div>
				</div>
				<div class="col-xs-2 center">
					<div class="label-container">
						Financial Scope Expertise
					</div>
					<div class="checkbox-container">
						<div class="roundedOne">
							<input type="checkbox" value="None" id="financialScope" name="check" ng-checked="isChecked1"/>
							<label for="financialScope"></label>
						</div>
					</div>
				</div>
				<div class="col-xs-2 center">
					<div class="label-container">
						Demographic Expertise
					</div>
					<div class="checkbox-container">
						<div class="roundedOne">
							<input type="checkbox" value="None" id="demographic" name="check" ng-checked="isChecked2"/>
							<label for="demographic"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<!-- For List Tab -->
	<div class="teams-recommended-container">
		<div class="container-fluid">
			<div class="row">
				<div class="navbar-header" ng-if="viewTab == 'list'">
					<h6>RECOMMENDED</h6>
				</div>
				<div class="navbar-right text-light">
					<a ng-href="#/teams/list">
						<img src="images/action-button/list.png" height="42">
					</a>
					<a ng-href="#/teams/network">
						<img src="images/action-button/carousel.png" height="42">
					</a>
					<a ng-href="#/teams/recommend">
						<img src="images/action-button/teams.png" height="42">
					</a>
				</div>
			</div>
			<div class="row" ng-if="viewTab === 'list'">
				<div class="col-xs-2 col-xs-15">
					<div class="recommend-dash">
						Brand Manager
					</div>
					<li ng-repeat="user in brandManagers track by $index" data-drop="true" jqyoui-droppable>
						<div id="brandManagers-{{$index}}" class="people-list" data-drag="true" jqyoui-draggable="{placeholder: true, animate: true}" data-jqyoui-options="{revert: 'invalid', snapMode: 'inner', delay: 200}" data-model="{{user}}" ng-click="openProfile($event, user)" ng-mouseover="randomTeamValue()" ng-mouseout="resetTeamValue()">
							<img ng-src="{{user.img}}">
							<span>
								{{user.name}}
							</span>
						</div>
					</li>
				</div>
				<div class="col-xs-2 col-xs-15">
					<div class="recommend-dash">
						Brand Builder
					</div>
					<li ng-repeat="user in brandBuilders track by $index" data-drop="true" jqyoui-droppable>
						<div id="brandBuilders-{{$index}}" class="people-list" data-drag="true" jqyoui-draggable="{placeholder: true, animate: true}" data-jqyoui-options="{revert: 'invalid', snapMode: 'inner', delay: 200}" data-model="{{user}}" ng-click="openProfile($event, user)" ng-mouseover="randomTeamValue()" ng-mouseout="resetTeamValue()">
							<img ng-src="{{user.img}}">
							<span>
								{{user.name}}
							</span>
						</div>
					</li>
				</div>
				<div class="col-xs-2 col-xs-15">
					<div class="recommend-dash">
						Marketer I
					</div>
					<li ng-repeat="user in brandMarketers1 track by $index" data-drop="true" jqyoui-droppable>
						<div id="brandMarketers1-{{$index}}" class="people-list" data-drag="true" jqyoui-draggable="{placeholder: true, animate: true}" data-jqyoui-options="{revert: 'invalid', snapMode: 'inner', delay: 200}" data-model="{{user}}" ng-click="openProfile($event, user)" ng-mouseover="randomTeamValue()" ng-mouseout="resetTeamValue()">
							<img ng-src="{{user.img}}">
							<span>
								{{user.name}}
							</span>
						</div>
					</li>
				</div>
				<div class="col-xs-2 col-xs-15">
					<div class="recommend-dash">
						Marketer II
					</div>
					<li ng-repeat="user in brandMarketers2 track by $index" data-drop="true" jqyoui-droppable>
						<div id="brandMarketers2-{{$index}}" class="people-list" data-drag="true" jqyoui-draggable="{placeholder: true, animate: true}" data-jqyoui-options="{revert: 'invalid', snapMode: 'inner', delay: 200}" data-model="{{user}}" ng-click="openProfile($event, user)" ng-mouseover="randomTeamValue()" ng-mouseout="resetTeamValue()">
							<img ng-src="{{user.img}}">
							<span>
								{{user.name}}
							</span>
						</div>
					</li>
				</div>
				<div class="col-xs-2 col-xs-15">
					<div class="recommend-dash">
						Marketer III
					</div>
					<li ng-repeat="user in brandMarketers3 track by $index" data-drop="true" jqyoui-droppable>
						<div id="brandMarketers3-{{$index}}" class="people-list" data-drag="true" jqyoui-draggable="{placeholder: true, animate: true}" data-jqyoui-options="{revert: 'invalid', snapMode: 'inner', delay: 200}" data-model="{{user}}" ng-click="openProfile($event, user)" ng-mouseover="randomTeamValue()" ng-mouseout="resetTeamValue()">
							<img ng-src="{{user.img}}">
							<span>
								{{user.name}}
							</span>
						</div>
					</li>
				</div>
			</div>
			<!-- For Visualization tab -->
			<div class="row" ng-if="viewTab === 'network'">
				<div class="col-xs-12 text-center">
					<!-- Network -->
					<a class="dummy-tooltip" tooltip-placement="top" tooltip="Worked together on Dove Focus project">O&nbsp;&nbsp;&nbsp;&nbsp;</a>
					<img src="images/network_graph.png">
				</div>
			</div>
			<!-- For Recommended tab -->
			<div class="row" ng-if="viewTab === 'recommend'">
				<h5>RECOMMENDED TEAM COMPOSITION</h5>
				<br>
				<div class="row">
					<div ng-repeat="team in recommendedTeams track by $index" class="col-xs-2 col-xs-15 team-container" style="text-align: center;">
						<h5>{{team.teamName}}</h5>
						<li ng-repeat="(position, img) in team.teamMembers track by $index">
							<p class="text-light">{{position}}</p>
							<img ng-src="{{img}}" width="50%" style="margin-bottom: 20px; border-radius: 50%;">
						</li>
						<hr style="border-color: #000000">
						<div class="center">
							<div class="label-container">
								Brand Experience
							</div>
							<div class="progress-container">
								<div class="progress-bar" role="progressbar" style="width: {{team.brandExperienceValue}}%;">
								</div>
								<div class="optimal-bar" style="left: 72%"></div>
							</div>
						</div>
						<div class="center">
							<div class="label-container">
								Innovation Expertise
							</div>
							<div class="progress-container">
								<div class="progress-bar" role="progressbar" style="width: {{team.innovationExterpiseValue}}%;">
								</div>
								<div class="optimal-bar" style="left: 82%"></div>
							</div>
						</div>
						<div class="center">
							<div class="label-container">
								Regional Expertise
							</div>
							<div class="progress-container">
								<div class="progress-bar" role="progressbar" style="width: {{team.regionalExpertiseValue}}%;">
								</div>
								<div class="optimal-bar" style="left: 62%"></div>
							</div>
						</div>
						<div class="center">
							<div class="label-container">
								Collaboration
							</div>
							<div class="progress-container">
								<div class="progress-bar" role="progressbar" style="width: {{team.collaborationValue}}%;">
								</div>
								<div class="optimal-bar" style="left: 58%"></div>
							</div>
						</div>
						<div class="center">
							<div class="label-container">
								Financial Scope Expertise
							</div>
							<div class="checkbox-container">
								<div class="roundedOne">
									<input type="checkbox" value="None" id="financialScope" name="check" ng-checked="team.isChecked1"/>
									<label for="financialScope"></label>
								</div>
							</div>
						</div>
						<div class="center">
							<div class="label-container">
								Demographic Expertise
							</div>
							<div class="checkbox-container">
								<div class="roundedOne">
									<input type="checkbox" value="None" id="demographic" name="check" ng-checked="team.isChecked2"/>
									<label for="demographic"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>