* {
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

body {
	overflow: hidden;
}

svg#mapContainer {
	background:#aaaaaa;
}

.desc {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 20%;
	padding: 20px;
}

#tooltip {
	position: absolute;
	border-radius: 5px;
	z-index: 9;
	top:0;
	background: rgba(255,255,255,0.8);
	padding: 8px;
}

.hidden {
	display: none;
}

.graticule {
	fill: none;
	stroke: #909090;
	stroke-width: 0.5px;
	stroke-opacity: 0.5;
}

.country {
  	fill: #ffffcc;
	stroke: #909090;
	stroke-width: 1px;
	stroke-opacity: 0.7;
}

/*.country:hover {
	stroke: #e1e1e1;
	stroke-width: 1.2px;
	stroke-opacity: 1;
}*/

.controls {
	position: fixed;
	z-index: 99;
	left: 0;
	bottom: 0;
	/*background: rgba(255,255,255,0.6);*/
	width: 100%;
	height: 200px;
}

.padding {
	padding: 20px;
}

.node {
	fill: rgba(255,255,255,0);
	stroke: rgba(0,0,0,0.6);
	stroke-width: 1.5px;
	cursor: pointer;
}

.node:hover {
	fill: rgba(255,255,255,0);
	stroke-width: 8px;
	stroke: #ff9933;
}

.year {
	font-size: 0.5em;
}

.yearDot {
	fill: #a7a7a7;
	stroke-width: 2px;
	stroke: #2f2f2f;
	cursor: pointer;
}

.selected {
	fill: #2f2f2f;
	stroke-width: 8px;
	stroke: #2f2f2f;
}

.yearDot:hover {
	stroke-width: 8px;
}

.t_line {
	stroke-width: 2px;
	stroke: #2f2f2f;
}